# **Welcome to MXB107: Probability and Statistics**

```
.------------------------------------.
|   __  ____  ______  _  ___ _____   |
|  |  \/  \ \/ / __ )/ |/ _ \___  |  |
|  | |\/| |\  /|  _ \| | | | | / /   |
|  | |  | |/  \| |_) | | |_| |/ /    |
|  |_|  |_/_/\_\____/|_|\___//_/     |
'------------------------------------'

```

In this unit, you will be introduced to the R programming language through Google Colab, with a focus on its applications in statistical modeling. There's no need to install R or [RStudio](https://posit.co/download/rstudio-desktop/) on your computer—just an internet connection and a web browser are all you need.

## **About Google Colab**

Google Colab is a free, cloud-based platform that allows you to write and run code directly from your browser, with no setup required. Originally designed for Python, it also supports other languages like R. Colab provides access to powerful computing resources, including GPUs, making it ideal for data analysis, machine learning, and interactive coding tutorials. Its integration with Google Drive ensures that your notebooks are automatically saved and easily shareable, making collaboration seamless and efficient.

## **Switching to the R Kernel in Google Colab**

By default, Google Colab uses Python as its programming language. To use R instead, you’ll need to manually switch the kernel by going to **Runtime > Change runtime type**, and selecting R as the kernel. This allows you to run R code in the Colab environment.

However, our notebook is already configured to use R by default. Unless something goes wrong, you shouldn’t need to manually change runtime type.

### **Executing your first R code cell**

**To run a code cell**:

- Click the ▶️ button to the left of the cell,  
- Or press **Ctrl + Enter** (on Windows),  
- Or press **Cmd + Return** (on macOS).

This code cell will output **something** only if the R kernel is active; otherwise, it will produce an error.

In [ ]:
if (!require("cowsay")) install.packages("cowsay"); library("cowsay")
say("Welcome to MXB107!", by = "pig")

### **Creating your first R code cell**

To create a new code cell, click the `+ Code` button at the top-left of the notebook. To insert a code cell immediately below an existing one, first click inside that code cell.


#### **Exercise**

Create a new code cell below this, enter `say("Your first code cell!", by = "dog")`, and execute it.

<details>
<summary>▶️ Click to show the solution</summary>

```r
say("Your first code cell!", by = "dog")
```

</details>

## **Introduction to the R Programming Languague**

## **Atomic Data Types in R**


Atomic types are the simplest building blocks in R that store individual values such as numbers, text, or logicals. These atomic types form the foundation for creating more complex data structures such as vectors, lists, and data frames.

Think of atomic types like the individual cells in an Excel spreadsheet, each holding a single piece of data. Just as cells combine to create sheets and workbooks, atomic types combine in R to build complex datasets.

### **Double**

Double (double-floating point) values represent real numbers (with or without decimals) and are one of the most common atomic types in R. For example, `0.1` represents 0.1.

In [ ]:
0.1
typeof(0.1)

#### **Is This Exactly 0.1**?

Might not be the case (see [IEEE 754 - Wikipedia](https://en.wikipedia.org/wiki/IEEE_754)). Real numbers are uncountably infinite, but computers have only finite memory, so there might be some "generally acceptable" representation error. However, they can propagate and affect the accuracy of your results if not handled correctly (beyond the scope of this unit).

#### **Is `0.1 + 0.2` equal to `0.3`**?

In [ ]:
0.1 + 0.2 == 0.3

**FYI: What about their numerical representations in our computers?**

In [ ]:
writeBin(0.1 + 0.2, raw(), size = 8)  # 8 bytes = 64 bits
writeBin(0.3, raw(), size = 8)

They differ only in the least significant byte, which is `34` vs `33`. This is the very smallest possible change in a double.

**`all.equal()` to the Rescue: Safer Number Comparison in R**

In [ ]:
all.equal(0.1 + 0.2, 0.3)

### **Integer**

In R, integers represent whole numbers without decimal points. You can create them using the `L` suffix, like `5L`, and check their type with `typeof(5L)`.

In [ ]:
5L
typeof(5L)
typeof(5)

**FYI**: Integers and doubles are stored differently in memory. Integers use a fixed number of bits to represent whole numbers exactly, while doubles (floating-point numbers) follow the IEEE 754 standard to represent real numbers approximately.

### **Character**

Characters in R represent text data, such as letters, words, or sentences. They are enclosed in either single or double quotes, for example, `"hello"` or `'world'`.  

This data type is common in any programming languages and is used for many basic but essential tasks, such as specifying paths to a directory (e.g., `"content/path"`), specifying a name (e.g., an R package's name like `"ggplot2"`), storing information).

In [ ]:
"Welcome to MXB107!"
typeof("Welcome to MXB107!")

#### **Print a `character`**

Printing characters is useful when you want to display messages during execution, such as status updates or error messages (there are dedicated functions in R for issuing warnings and errors).

In [ ]:
print("Faculty of Science")

#### **What Does \# Do**?

In R, anything following # on a line is treated as a comment and is not executed. It’s good practice to include comments in your code to explain what it does, making it easier to understand and maintain.

### **Logical**

Logical values in R are `TRUE` (or equivalently, `T`) and `FALSE` (or equivalently, `F`) . These are used for decisions, filtering, and control flow and can be created via comparision operators or more generally, evaluation of some expressions in R.

In [ ]:
T
TRUE
F
FALSE

R can generate logical results via comparison operators:

- `==` for equality
- `<` / `<=` for less than and less than or equal to
- `>` / `>=` for greater than and greater than or equal to

In [ ]:
5 < 3
"a" == "a"
"a" < "b"

More generally, R can generate logical results by evaluating expressions. For example, functions like `is.numeric()` return `TRUE` or `FALSE` depending on the input.

In [ ]:
is.numeric("a")
is.numeric(1)

## **R as a Calculator**

R is essentially just a really powerful calculator, kind of like those you may have been required to purchase for high school maths, only better and with a much higher limit on what it can achieve.

Doing computation in R involves writing code. We can create a code cell, type directly into that and run code, and it will give us an answer like a calculator.

### **Double Operations**

Common double operators include:

- `+` for addition (e.g., `2.5 + 1.5`)
- `-` for subtraction (e.g., `5.0 - 2.0`)
- `*` for multiplication (e.g., `3.0 * 4.0`)
- `/` for division (e.g., `10.0 / 2.0`)
- `^` for exponentiation (e.g., `10.0 ^ 2.0`)

These operations follow standard arithmetic rules and return results as doubles. You can use parentheses `()` to change the order of evaluation and control operator precedence in expressions. See [R: Operator Syntax and Precedence](https://stat.ethz.ch/R-manual/R-devel/library/base/html/Syntax.html) for more details.

In [ ]:
2.5 + 1.5
typeof(2.5+1.5)

2*(5 - 2)^2 + 3
typeof((5 - 2)^2 + 3)

#### **Exercise**

Work out how to divide 50 by 4, then compute 14 multiplied by the sum of 4 and 6, divided by 2. What are the data types of the results?

<details>
<summary>▶️ Click to show the solution</summary>

```r
50/4
typeof(50/4)

14*(4+6)/2
typeof(14*(4+6)/2)
```

</details>

### **Integer Operations**

All double operators apply to integers as well, with some caveats.

#### **Integer Addition/Subtraction/Multiplication**

The output type stays `"integer"` as long as both operands are integers, unlike double operations.

In [ ]:
1L+1L
typeof(1L+1L)
typeof(1+1)

In [ ]:
1L*1L
typeof(1L*1L)

#### **Integer division**

Unlike C/C++, R does not perform 'int' division, so the result is not 1L but `1.666...` as we desire.

In [ ]:
5L/3L
typeof(5L/3L)

5/3
typeof(5/3)

#### **Exercise**

What is the output of integer 5 raised to the power of integer 3? What is the data type of the result?

<details>
<summary>▶️ Click to show the solution</summary>

```r
5L^3L
typeof(5L^3L)
```

</details>

### **Logical Operators**

Logical operators allow you to combine or modify logical values (`TRUE`/`FALSE`):

- `&` : Element-wise AND  
- `|` : Element-wise OR  
- `!` : NOT (negation)  
- `&&` : Short-circuit AND (evaluates only the first element)  
- `||` : Short-circuit OR (evaluates only the first element)

The difference between `&` and `&&` (and similarly `|` vs `||`) is subtle and mainly relevant when working with vectors.

In [ ]:
T & F
!(T&F)

#### **Exercises**

Combine `3^2 < 2^3` and `log(3) > 1.5` via the logical `AND` operator. What is the result? Verify the result explicitly in R.

<details>
<summary>▶️ Click to show the solution</summary>

```r
(3^2 < 2^3) & (log(3) > 1.5)
```

</details>

Verify this  `3 < 5 < 7`

Note that `3 < 5 < 7`, for example is **not** a valid expression in R. You must verify each expression separa

## **Assignment**

Assignment in R can be done using the `<-` or `=` operators (e.g., `x <- 10`). The expression on the right side is evaluated, and its value is stored in the variable on the left.

In [ ]:
x = 5^2
y = 2^5
x>y

Some variables in R, like `pi`, come pre-assigned with built-in constant values that you can use directly in calculations.

In [ ]:
pi

In R, reserved words like `if`, `for`, and `TRUE`/`T` cannot be used as variable names because they have special meanings in the language.

#### **Exercise**

Create a variable named `radius` and assign it the value `3`. Then, create a variable named `area` and assign it the area of a circle using that `radius`. Print the result.

[1] 28.27433

<details>
<summary>▶️ Click to show the solution</summary>

```r
radius = 3
area = pi * radius^2
print(area)
```

</details>

## **Function**

A function in R is a set of instructions that performs a specific task and may return a value. You call a function by its name followed by parentheses, optionally passing arguments inside (e.g., `a_function(arg_1, arg_2, ...)`).

In R, you define a function using the `function()` keyword. For instance, here is a function called `computeArea` that computes the `area` of a circle given its radius:

In [14]:
computeArea = function(radius){
  area = pi*radius^2
  return(area)
}
computeArea(3)

[1] 28.27433

Note that in R, you don’t always need to use the `return()` statement because it automatically returns the last evaluated expression. However, it is generally safer to use an explicit `return()` statement.

#### **Exercise**

Create a function called `computeCirc` that takes a `radius` and output the circumference of a circle given the `radius` value.

<details>
<summary>▶️ Click to show the solution</summary>

```r
computeCirc = function(radius){
  circ = 2*pi*radius
  return(circ)
}
```

</details>

## **More Complex Data Types**

### **Vector**

A vector is a one-dimensional array that holds elements of **the same type** (e.g., `numeric`, `character`, `logical`). It is one of the most basic data types in R.

#### **Creating a Vector**

Vectors are typically created using the `c()` function. For example, `c(1, 2, 3)` creates a numeric vector.

In [9]:
x = c(1,2,3)
typeof(x)
is.vector(x)

[1] "double"

[1] TRUE

The expression `c("a", "b", "c")` creates a character vector.

In [10]:
y = c("a", "b", "c")
typeof(y)
is.vector(y)

[1] "character"

[1] TRUE

What about `c("a", 1, 2)`?

This creates a character vector. When elements of different types are combined, R automatically converts them to a common type that can hold all values. `1` can be a character, but `a` is not a number.

In [12]:
z = c("a", 1, 2)
print(z)
typeof(z)

[1] "a" "1" "2"

[1] "character"

The `c()` function can also be used to combine vectors.

In [23]:
a = c(1,2,3)
b = c(4,5,6)
c(a,b)

[1] 1 2 3 4 5 6

#### **Indexing a Vector**

Indexing a vector in R is done using square brackets, e.g., `x[n]` returns the `n-th` element of `x`. You can extract multiple elements by passing a vector of indices, such as `x[c(1, 3, 5)]` to get the `1-st`, `3-rd`, and `5-th` elements.

Here, `1`, `3`, `5` are doubles. However, R implicitly converts these into integers.

In [27]:
x = c(1,2,6,2,5,2,5,6,2)
x[1]
x[c(1,2,3)]
x[c(1,3,5,7)]

[1] 1

[1] 1 2 6

[1] 1 6 5 5

#### **Vector Operations**

**Indexing a Vector**

Indexing a vector in R is done using square brackets, e.g., `x[n]` returns the `n-th` element of `x`. You can extract multiple elements by passing a vector of indices, such as `x[c(1, 3, 5)]` to get the `1-st`, `3-rd`, and `5-th` elements.

Here, `1`, `3`, `5` are doubles. However, R implicitly converts these into integers.

In [29]:
x = c(1,4,3,6,3,24,7,2,3,4)
print(x)
print(x[c(1,3,5)])

 [1]  1  4  3  6  3 24  7  2  3  4
[1] 1 3 3

**Arithmetic and Logical Operations**

In R, vector addition is performed element-wise. If you add two vectors of different lengths, the shorter vector is repeated to match the length of the longer vector before the addition. Similar for subtraction/addition/multiplication/comparision operations.

In [ ]:
x = 1:5
y = seq(1,10,2)
x + y

a = 1:6
b = c(1,2)
a+b

z = c(1,4,3,6,3,24,7)
z > 5

In [ ]:
x = 1:5
print(x)
x[1] = 5
print(x)

We can also index a vector using a logical operation. For example, if we want to know which values in a vector `x = c(1,4,3,6,3,24,7,2,3,4)` are larger than 3, we can do the following:

In [30]:
x = c(1,4,3,6,3,24,7,2,3,4)
whichIdx = x>3
print(whichIdx)
x[whichIdx]

 [1] FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE

[1]  4  6 24  7  4

**Modifying a Vector**

We can modify elements in a vector via the assignment operator.

In [28]:
x = 1:5
print(x)
x[1] = 5
print(x)

[1] 1 2 3 4 5
[1] 5 2 3 4 5

#### **Common Functions for Working with Vectors**

Some useful functions for working with vectors in R:

- `length(x)` — returns the number of elements in vector x.
- `sum(x)` — computes the sum of all elements in x.
- `mean(x)` — calculates the average value of x.
- `sort(x)` — returns a sorted version of x.
- `unique(x)` — extracts unique elements from x.
- `c()` — combines values/vectors into a vector.
- `seq()` — generates equally spaced sequences of numbers.
- `rep()` — repeats elements to create vectors.
- `which()` — returns indices of elements matching a condition.
- `:`  — (not a function) creates a sequence of consecutive integers between two numbers

In [19]:
x = seq(from = 1, to = 10, by = 2)
print(x)

y = 1:10
print(y)
sum(y)
mean(y)

[1] 1 3 5 7 9
 [1]  1  2  3  4  5  6  7  8  9 10

[1] 55

[1] 5.5

#### **Exercise**

Create a new vector storing `(1,3,5,...,21)` and store the value to a variabke of hyour choice. Then extract all element that is between

## **Working with the R File System**

Knowing your current working directory is important when working with files in R. You can check it using the `getwd()` function.

In [ ]:
getwd()


On Colab, R runs on a temporary virtual Linux environment, so `getwd()` will typically return `/content`, which is the default working directory during the session.

If you need to change the working directory. For example, to access data stored in a different folder—you can use the `setwd("your/path/here")` function. Always ensure the path is correct, especially when running notebooks on different systems.

#### **Exercise**

Create a new directory named `our_working_directory` via `dir.create("our_working_directory")`. It will be a sub-directory of `/content`. Then, change the working directory to the newly created sub-directory.

<details>
<summary>▶️ Click to show the solution</summary>

```r
dir.create("our_working_directory")
setwd("./our_working_directory")
```

</details>

Check the current working directory:

In [ ]:
getwd()

All datasets and core functionalities needed for this unit are hosted online in the following GitHub repository:
`"https://github.com/edelweiss611428/MXB107-Notebooks/tree/main"`
We will fork (i.e., make a copy of) the repository onto our virtual computer and change the working directory to access its contents.

**Do not modify the following**:

In [ ]:
setwd("/content")

# Remove `MXB107-Notebooks` if exists,
if (dir.exists("MXB107-Notebooks")) {
  system("rm -rf MXB107-Notebooks")
}

# Fork the repository
system("git clone https://github.com/edelweiss611428/MXB107-Notebooks.git")

# Change working directory to "MXB107-Notebooks"
setwd("MXB107-Notebooks")

# Print the current working directory
getwd()

# List contents inside the directory
list.files()

## **Packages in R**

R packages add new features that aren’t included in base R. You install packages via `install.packages("pkg_name")` to access these extra tools and load them with `library("pkg_name")`.

Many popular R packages are already available on Colab, so you often don’t need to install them, saving time. Therefore, it’s best to check if a package is installed before attempting to install or load it blindly.

Here, the `MASS` package is available in base R, so the system won't attempt to install `MASS`.

In [ ]:
if (!require("MASS")) install.packages("MASS"); library("MASS")

Most reviewed R packages are available on [CRAN](https://cran.r-project.org/web/packages/available_packages_by_name.html) and [Bioconductor](https://bioconductor.org/packages/release/bioc/), but many are also available as GitHub repositories.

For CRAN packages, it is generally sufficient to use `install.packages("pkg_name")` to install them, but installing from other repositories like GitHub can be more complicated.

#### **Exercise**

Check if the CRAN package `"e1071"` is installed. If it is, load the package; if not, install it first and then load it.

<details>
<summary>▶️ Click to show the solution</summary>

```r
if (!require("e1071")) install.packages("e1071"); library("e1071")
```

</details>

In general, you won’t need to manually install any packages in this unit. If you fork the unit's GitHub repository, change the directory to `"MXB107-Notebooks"` and run the `"R/preConfigurated.R"` script, it will automatically load and install all the necessary packages for you.

**Do not modify the following**:

In [ ]:
source("R/preConfigurated.R")

This will also load some prepared utility functions that are not available in base R.

## **Getting Help in R**

If you find yourself forgetting what a particular function does or what the names of the arguments (inputs) you can pass it are, you can use the `help()` function or equivalently `?a_function`. For example, try running the following:

In [ ]:
help(mean)

In [ ]:
?mean

What you notice is that it prints the help info about calculating the arithmetic mean, where we are told that:
- It requires an R object x which is either a numeric vector, logical vector or date, date-time or time interval,
- And we can optionally tell it how much of the data to trim,
- And whether or not we want drop any missing values from the calculation.

One disadvantage of Colab is that it does not render R documentation files very well, as it is primarily designed for Python. However, the interface and documentation display improve significantly when using dedicated IDEs like [RStudio](https://posit.co/download/rstudio-desktop/).

## **Tests (Optional)**

**Do not modify the following**:

In [ ]:

if (!require("testthat")) install.packages("testthat"); library("testthat")

test_that("Test if all packages have been installed", {
  expect_true(require("ggplot2"))
  expect_true(require("dplyr"))
  expect_true(require("magrittr"))
})

test_that("Test if all utility functions have been loaded", {
  expect_true(exists("skewness"))
  expect_true(exists("kurtosis"))
})